@font-face {
	font-family: "emblema one";
	src: url("https://chipeho.github.io/tempfont/EmblemaOne-Regular.woff"), 
	     url("https://chipeho.github.io/tempfont/EmblemaOne-Regular.ttf"); 
}





body {
	font-family:	Verdana, Geneva, Arial, sans-serif;
	font-size: small;
}

h1	{
	font-family:	"emblema one", sans-serif;
	
	font-size: 220% ;
}

h2 {
	font-size: 130%; 
	font-weight: normal;
}
